<a href="https://colab.research.google.com/github/tomersk/learn-python/blob/main/03_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 3.5 DataFrame

DataFrame is a kind of dictionary. In a dictionary, each key corresponds to a value, while in the DataFrame, each key corresponds to a series (column). *pandas* is a library to deal with DataFrame, we will be using the same. 

### 3.5.1 Creating a DataFrame
Let us start taking the same sample data as we took in the *dictionary* section.

In [3]:
import pandas as pd

names = ['Delhi', 'Bangalore', 'Kolkata']
rainfall = [0, 5, 10]

data = {
  "names": [420, 380, 390],
  "rainfall": [50, 40, 45]
}

df = pd.DataFrame(data)
print(df)

   names  rainfall
0    420        50
1    380        40
2    390        45

This example does not show any benefit of using DataFrame over the dictionary. However, as we go much deeper into the DataFrame, the benefits will be obvious, so keep some patience.

Let get data over second and third row in our DataFrame:

In [7]:
print(df.loc[[1,2]])

   names  rainfall
1    380        40
2    390        45

Note that when we would like to have more than one row, we are providing input as list ([1,2]).

### 3.5.2 Indexing DataFrame

We can provide the name of row (i.e. index) also such as:

In [8]:
df = pd.DataFrame(data, index = ["first", "second", "third"])

print(df)

        names  rainfall
first     420        50
second    380        40
third     390        45

Then, we can print value based on the index:

In [9]:
print(df.loc["first"])

names       420
rainfall     50
Name: first, dtype: int64